alias dall="echo '\n-- CONTAINERS --' && docker container ps -a && echo '\n-- VOLUMES --' && docker volume ls && echo '\n-- NETWORKS --' && docker network ls && echo '\n-- IMAGES --' && docker image ls"

function gitpush() {
  git add .
  git commit -a -m "$1"
  git push
}
alias gp=gitpush
alias gpup='git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)'

alias gs='git status'
alias main='git checkout main'
alias master='git checkout master'

alias machines='cat ~/.dsh/machines.list'
